<nav id="nav-bar">
  <div id="search-bar">
    <input id="search-text" name="search-text" type="text" placeholder="Search">
    <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
  </div>        
            <ul>

              {{#if logged}}
                <li><a id="logout-button">Log Out</a></li>

              {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Register</a></li>

              {{/if}}
                <li><a href="/postimage">Post</a></li>
                <li><a href="/">Home</a></li>


            </ul>
                           

    </nav>