<nav id="nav-bar">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/postimage">Post</a></li>
                <li><a href="/registration">Register</a></li>
              </ul>
              <input id="search-text" name="search-text" type="text">
    </nav>