<head>
    <title>User Login</title>
</head>
<body>
    <header></header>
    <div class = "container"> 
            <form class = "login" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
                <h1>Login</h1> 
                <fieldset>
                    <div class="login-item">
                        <label class = "login-labels">Username</label> 
                        <input class = "login-inputs" type="text" placeholder="Enter Username" required name="username">
                    </div>
                    <div class="login-item">
                        <label class = "login-labels">Password</label>
                        <input class = "login-inputs" type="password" placeholder="Enter Password" required name="password">
                    </div>
                    <div id="submit-button">
                        <button id = "login-submit" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
    </div>
</body>











