<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">

    <title>Post Image</title>
</head>
<body class = "container">
    <form id="post">
        <h1>Post an Image</h1>
        <fieldset>
            <div>
                <input type="text" placeholder="Enter Title">  
                <input type="text" placeholder="Enter description">
            </div>
            <div id="submission">
                <button id="upload-button" type="button">Upload image</button> 
                <input type="checkbox">
                <label>I agree to the Acceptable Use policy</label>
            </br>
            <button id="submit-button" type="button">Submit</button>
            </div>
        </fieldset>
    </form>
</body>
</html>