<head>
    <title>Post Image</title>
</head>
<body>
<div class = "container">
    <form id="post">
        <h1>Post an Image</h1>
        <fieldset>
            <div>
                <input class = "post-inputs" type="text" placeholder="Enter Title">  
                <input class = "post-inputs" type="text" placeholder="Enter description">
            </div>
            <div id="submission">
                <button id="upload-button" type="button">Upload image</button> 
                <div id = "policy">
                <input type="checkbox">
                <label>I agree to the Acceptable Use policy</label>
                </div>
                <div id="submit-button">
                    <button type="button">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>