html{
    margin: 0px;
    height: 100%;
    background-color: #738290;

}
body{
    margin: 0px;
    height: 100vh;   
}
h1 {
    border-radius: .25rem;
    text-align: center;   
    letter-spacing: .1em;
    margin-top: 1em;
}
fieldset{
    border: none;
    margin-left: 2em;
    margin-right: 2em;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#post{
    width: 35em;
    height: 30em;
    background-color: #E9E6FF;
    border-radius: 15px ;  
    font-family:'Courier New', Courier, monospace;
}
.textlabel{
    float: left;
    padding: 10px;
}
button{
    display: block;
    font-size: 1em;
    letter-spacing: .1em;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 8px ; 
    padding: 5px 10px 5px 10px; 
    transition-duration: .5s;
}
button:hover{
    background-color: rgb(121, 121, 121);
    color:rgb(227, 238, 235)
}
#submit-button{
    width: 8em;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  
}
input[type="checkbox"]{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
input[type="text"] {
    width: 95%;
    height: 2em;
    padding: .2em .5em .2em .5em;
    margin-bottom: 1em;
    font-size: 1em;
    letter-spacing: .1em;
    border-radius: 4px;
}
input[type="text"], button{
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.447);
    font-family:'Courier New', Courier, monospace;
}
#submission{
    margin-top: 10%;
    
}
